<%#
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<script type="text/javascript">//<![CDATA[
	var bwxhr = new XHR();

	var RC = { };
	var em = 0;
	var ec = 1;

	var rate_table;

	function init_bytes(rl, ra) {
		var bytes_pre;
		var obj = { };
		obj.chain = rl.chain;
		obj.ipaddr = rl.expr[em].match.right;
		obj.bytes = rl.expr[ec].counter.bytes;
		obj.packets = rl.expr[ec].counter.packets;
		obj.rate = 0;

		if (RC[obj.chain] && RC[obj.chain][obj.ipaddr])
				bytes_pre = RC[obj.chain][obj.ipaddr];
		else
				bytes_pre = 0;

		obj.rate = (bytes_pre > 0) ? (obj.bytes - bytes_pre) / 3: 0;

		if (!RC[obj.chain])
				RC[obj.chain] = { };
		RC[obj.chain][obj.ipaddr] = obj.bytes;

		if (!ra[obj.chain])
				ra[obj.chain] = [ ];
		ra[obj.chain].push(obj);
	} /* function init_bytes(rl, ra) */

	function bytes_label(bytes) {
		var uby = '<%:kB%>';
		var kby = (bytes / 1024);

		if (kby > 1024) {
			uby = '<%:MB%>';
			kby = (kby / 1024);
		}

		return String.format("%f %s", kby.toFixed(2), uby);
	}

function print_combined_table(tbl, rs, ra_download, ra_upload) {
    // Create a mapping to combine uploaded and downloaded data
    const combinedData = {};

    // Traverse and download data
    for (const entry of ra_download) {
        combinedData[entry.ipaddr] = {
            downloadRate: entry.rate,
            downloadBytes: entry.bytes,
            downloadPackets: entry.packets
        };
    }

    // Traverse and upload data
    for (const entry of ra_upload) {
        if (combinedData[entry.ipaddr]) {
            combinedData[entry.ipaddr].uploadRate = entry.rate;
            combinedData[entry.ipaddr].uploadBytes = entry.bytes;
            combinedData[entry.ipaddr].uploadPackets = entry.packets;
        } else {
            // If no corresponding download data is found, add upload data
            combinedData[entry.ipaddr] = {
                uploadRate: entry.rate,
                uploadBytes: entry.bytes,
                uploadPackets: entry.packets
            };
        }
    }

    // Generate the merged result
    for (const ip in combinedData) {
        const data = combinedData[ip];
        rs.push([
            ip,
            '\u2191 ' + bytes_label(data.uploadRate) + '&nbsp;&nbsp;&nbsp;&nbsp;' + '\u2193 ' + bytes_label(data.downloadRate),
            '\u2191 ' + data.uploadPackets + ' Pkts' + '&nbsp;&nbsp;&nbsp;&nbsp;' + '\u2193 ' + data.downloadPackets + ' Pkts',
            '\u2191 ' + bytes_label(data.uploadBytes) + '&nbsp;&nbsp;&nbsp;&nbsp;' + '\u2193 ' + bytes_label(data.downloadBytes)

        ]);
    }

    cbi_update_table(tbl, rs, '<em><%:No information available%></em>');
}

	/* wait for SVG */
	window.setTimeout(
		function() {
			if (!RC)
			{
				window.setTimeout(arguments.callee, 1000);
			}
			else
			{
				rate_table     = document.getElementById('rate_table');

				/* render datasets, start update interval */
				XHR.poll(3, '<%=build_url("admin/status/realtime/qosnft_status")%>', null,
					function(x, json)
					{
						var RA = {};
						var rows = [];

						var rules = json.nftables;
						for (var i = 0; i < rules.length; i++)
						{
							if (!rules[i].rule)
								continue;
							if (rules[i].rule.table != 'qos-monitor')
								continue;

							var rl = rules[i].rule;
							switch (rl.chain)
							{
								case 'download':
								case 'upload': init_bytes(rl, RA); break;
							}
						} /* for (var i = 0; i < rules.length; i++) */

						/* display the result */
						if (RA.download && RA.upload) {
							while (rate_table.firstElementChild !== rate_table.lastElementChild)
								rate_table.removeChild(rate_table.lastElementChild);
							print_combined_table(rate_table, rows, RA.download, RA.upload);
						}

					} /* function(x, json) */
				); /* XHR.poll() */

				XHR.run();
			}
		}, 1000
	);
//]]></script>

<h2 name="content"><%:Online host%></h2>

<div class="cbi-map-descr"><%:Real time speed statistics of current online hosts%></div>

<fieldset class="cbi-section" id="cbi-table-table">
	<div class="cbi-section-node">
		<div class="table" id="rate_table">
			<div class="tr table-titles">
				<div class="th col-2 hide-xs"><%:IP Address%></div>
				<div class="th col-2"><%:Realtime Rate%></div>
				<div class="th col-7"><%:Packets Total%></div>
				<div class="th col-7"><%:Bytes Total%></div>
			</div>
			<div class="tr placeholder">
				<div class="td">
					<em><%:Collecting data...%></em>
				</div>
			</div>
		</div>
	</div>
</fieldset>

<%+footer%>
